<div class="profile-page">
  <div class="back-link-container">
    <a
      class="back-link"
      [routerLink]="[homeLink]"
      aria-label="Go back to the home page"
      role="button">
      Back
    </a>
  </div>
  <main class="profile-main">
    @if (error(); as error) {
      <section class="error-section" role="alert">
        <p>
          It seems that the data was not found! Or something is wrong with the server.
          Either way, you don't want to stay here probably.
        </p>
      </section>
    } @else {
      @if (characterData$ | async; as character) {
        <article class="profile-article">
          <figure class="profile-figure">
            <img
              [ngSrc]="character.image"
              [alt]="character.name + ' Avatar'"
              width="320"
              height="320"
              priority
            />
          </figure>
          <dl class="profile-details">
            <dt>Name:</dt>
            <dd>{{character.name}}</dd>
            <dt>Species:</dt>
            <dd>{{character.species}}</dd>
            <dt>Gender:</dt>
            <dd>{{character.gender}}</dd>
            <dt>Status:</dt>
            <dd>{{character.status}}</dd>
          </dl>
        </article>
      } @else {
        <app-loading-spinner></app-loading-spinner>
      }
    }
  </main>
</div>
