<main>
  <app-search-bar (nameChange)="onNameChange($event)"></app-search-bar>
  <div>
    @if (totalPages$ | async; as totalPages) {
      <app-paginator
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [isDisabled]="isPaginatorDisabled"
        (pageChange)="onPageChange($event)"></app-paginator>
    }
    @if (currentPageData$ | async; as data) {
      <app-data-table [tableRows]="data" [isLoading]="isTableLoading"></app-data-table>
    } @else {
      <p>Preparing your table...</p>
      <app-loading-spinner></app-loading-spinner>
    }
  </div>
</main>
