<main>
  <header>
    <app-search-bar (nameChange)="onNameChange($event)"></app-search-bar>
  </header>
  
  <section aria-labelledby="data-section">
    <h2 id="data-section">Character Data</h2>
    @if (totalPages$ | async; as totalPages) {
      <app-paginator
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [isDisabled]="isPaginatorDisabled"
        (pageChange)="onPageChange($event)">
      </app-paginator>
    }
    @if (currentPageData$ | async; as data) {
      <app-data-table [tableRows]="data" [isLoading]="isTableLoading"></app-data-table>
    } @else {
      <div role="status">
        <p>Loading character data...</p>
        <app-loading-spinner></app-loading-spinner>
      </div>
    }
  </section>
</main>
