<ng-container>
  @if (rowData) {
    <td>
      <img 
        [ngSrc]="rowData.image" 
        [alt]="rowData.name + ' avatar'" 
        width="32" 
        height="32" 
      />
    </td>
    <td>
      <a 
        role="link" 
        (click)="onNameClick()" 
        tabindex="0"
        ariaLabel="View details for {{rowData.name}}"
      >
        {{rowData.name}}
      </a>
    </td>
    <td>{{rowData.species}}</td>
    <td>{{rowData.status}}</td>
  } @else {
    <td colspan="4">Mysterious row! You're not supposed to see this.</td>
  }
</ng-container>
